In [1]:
import pandas as pd
import datetime

In [2]:
file1_name = "daily_trading_info_2014-2018.xlsx"
file2_name = "daily_trading_info_2019-2020.xlsx"

In [3]:
file1 = pd.read_excel(file1_name, sheet_name = None)
file2 = pd.read_excel(file2_name, sheet_name = None)

In [4]:
companies = []
file1_index = []
stock1_index = list(file1.keys())[:]
file2_index = []
stock2_index = list(file2.keys())[:]

In [5]:
import copy

In [6]:
companies = copy.deepcopy(stock2_index)

In [7]:
print(len(stock1_index))
print(len(stock2_index))
print(len(companies))

779
800
800

In [8]:
for i in range(0, len(stock1_index)):
    if(stock1_index[i] not in companies):
        print(stock1_index[i])

In [9]:
rest_comy = []
for i in range(0, len(stock2_index)):
    if(stock2_index[i] not in stock1_index):
        print(stock2_index[i])
        rest_comy.append(stock2_index[i])
print(len(rest_comy))

SHSE.601236
SHSE.601298
SHSE.600928
SHSE.600968
SHSE.600989
SHSE.601698
SZSE.002945
SZSE.002958
SHSE.601615
SHSE.601598
SZSE.001872
SHSE.601860
SHSE.601865
SHSE.601975
SHSE.603256
SHSE.603317
SZSE.002946
SZSE.002948
SZSE.002957
SHSE.603379
SHSE.603983
21

In [10]:
file1[stock2_index[0]].iloc[:,1:-1].head()

        date       open       high        low      close   volume
0 2014-01-02  21.309999  21.700001  21.230000  21.459999  5096443
1 2014-01-03  21.400000  21.450001  20.370001  20.790001  9945683
2 2014-01-06  20.680000  20.680000  20.219999  20.240000  5171376
3 2014-01-07  20.100000  20.250000  19.860001  20.000000  5364241
4 2014-01-08  20.000000  20.389999  20.000000  20.230000  5186841

In [11]:
file2[stock2_index[0]].iloc[:,1:].head()

        date       open       high        low      close   volume
0 2019-01-02  27.530001  27.580000  26.379999  26.650000  3002072
1 2019-01-03  26.650000  26.850000  26.299999  26.549999  1575986
2 2019-01-04  26.469999  26.920000  26.080000  26.820000  1945105
3 2019-01-07  26.820000  26.860001  26.459999  26.639999  3502097
4 2019-01-08  26.549999  26.549999  26.270000  26.330000  3266613

In [12]:
a = file1[stock2_index[0]].iloc[:,1:-1].head()
b = file2[stock2_index[0]].iloc[:,1:].head()

In [13]:
pd.concat([a, b])

        date       open       high        low      close   volume
0 2014-01-02  21.309999  21.700001  21.230000  21.459999  5096443
1 2014-01-03  21.400000  21.450001  20.370001  20.790001  9945683
2 2014-01-06  20.680000  20.680000  20.219999  20.240000  5171376
3 2014-01-07  20.100000  20.250000  19.860001  20.000000  5364241
4 2014-01-08  20.000000  20.389999  20.000000  20.230000  5186841
0 2019-01-02  27.530001  27.580000  26.379999  26.650000  3002072
1 2019-01-03  26.650000  26.850000  26.299999  26.549999  1575986
2 2019-01-04  26.469999  26.920000  26.080000  26.820000  1945105
3 2019-01-07  26.820000  26.860001  26.459999  26.639999  3502097
4 2019-01-08  26.549999  26.549999  26.270000  26.330000  3266613

In [14]:
result_name = []
result_sheet = []

for i in range(0, len(rest_comy)):
    result_name.append(rest_comy[i])
    result_sheet.append(file2[rest_comy[i]].iloc[:,1:])
    
for w in range(0, len(result_sheet)):
    result_sheet[w].to_excel(result_name[w]+".xlsx", sheet_name = result_name[w], index=False)
    print(w)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
stock1_index

['SHSE.600085',
 'SHSE.600089',
 'SHSE.600153',
 'SZSE.000333',
 'SHSE.600208',
 'SHSE.600170',
 'SHSE.600221',
 'SZSE.000338',
 'SHSE.600219',
 'SHSE.600176',
 'SHSE.600177',
 'SHSE.600183',
 'SHSE.600233',
 'SZSE.000413',
 'SHSE.600188',
 'SZSE.000415',
 'SHSE.600196',
 'SZSE.000423',
 'SZSE.000425',
 'SHSE.603833',
 'SHSE.600309',
 'SHSE.600271',
 'SHSE.600276',
 'SHSE.600332',
 'SHSE.603799',
 'SHSE.600340',
 'SHSE.600346',
 'SHSE.600297',
 'SHSE.600352',
 'SHSE.600299',
 'SHSE.600406',
 'SHSE.600362',
 'SZSE.000538',
 'SHSE.600372',
 'SHSE.600369',
 'SHSE.603899',
 'SHSE.600383',
 'SHSE.600390',
 'SHSE.600436',
 'SHSE.600438',
 'SZSE.300003',
 'SZSE.000568',
 'SHSE.600398',
 'SZSE.000625',
 'SZSE.000630',
 'SHSE.601006',
 'SZSE.000627',
 'SHSE.601012',
 'SZSE.300015',
 'SZSE.000629',
 'SHSE.601009',
 'SHSE.603986',
 'SZSE.300017',
 'SHSE.603993',
 'SHSE.600516',
 'SHSE.601021',
 'SZSE.300024',
 'SHSE.600522',
 'SHSE.601018',
 'SHSE.600519',
 'SZSE.000596',
 'SZSE.000651',
 'SZSE.300033',
 'SHSE.600482',
 'SZSE.000703',
 'SHSE.600535',
 'SZSE.000656',
 'SZSE.000661',
 'SHSE.600487',
 'SZSE.000709',
 'SHSE.600489',
 'SZSE.000671',
 'SHSE.600547',
 'SZSE.000723',
 'SHSE.600498',
 'SZSE.000725',
 'SHSE.601111',
 'SHSE.600606',
 'SZSE.000728',
 'SZSE.300059',
 'SZSE.300070',
 'SHSE.601108',
 'SZSE.300122',
 'SHSE.600570',
 'SHSE.600566',
 'SHSE.601066',
 'SHSE.601117',
 'SZSE.300124',
 'SHSE.600583',
 'SZSE.300136',
 'SHSE.600585',
 'SZSE.300142',
 'SHSE.600637',
 'SZSE.300144',
 'SHSE.600588',
 'SHSE.601088',
 'SHSE.601138',
 'SZSE.000768',
 'SHSE.600703',
 'SHSE.600705',
 'SHSE.601155',
 'SZSE.000776',
 'SHSE.600655',
 'SHSE.600660',
 'SHSE.601211',
 'SZSE.000783',
 'SHSE.601162',
 'SHSE.601212',
 'SHSE.600663',
 'SZSE.000786',
 'SHSE.601166',
 'SHSE.601216',
 'SHSE.601169',
 'SHSE.600674',
 'SHSE.601225',
 'SHSE.600733',
 'SHSE.601229',
 'SHSE.600690',
 'SHSE.600741',
 'SHSE.601186',
 'SZSE.000858',
 'SHSE.601238',
 'SHSE.601198',
 'SHSE.600760',
 'SZSE.000876',
 'SHSE.600809',
 'SHSE.600816',
 'SZSE.000938',
 'SHSE.601318',
 'SHSE.601319',
 'SZSE.000895',
 'SZSE.002001',
 'SZSE.000898',
 'SHSE.601328',
 'SZSE.002010',
 'SZSE.000961',
 'SHSE.601336',
 'SZSE.002007',
 'SHSE.600837',
 'SZSE.002008',
 'SZSE.000963',
 'SHSE.601288',
 'SHSE.600795',
 'SZSE.300347',
 'SHSE.600900',
 'SHSE.600848',
 'SZSE.002024',
 'SHSE.601360',
 'SZSE.002032',
 'SZSE.300408',
 'SZSE.300413',
 'SZSE.002027',
 'SHSE.600867',
 'SZSE.002044',
 'SHSE.600919',
 'SZSE.002050',
 'SZSE.300433',
 'SHSE.600926',
 'SHSE.601377',
 'SHSE.601390',
 'SHSE.600886',
 'SHSE.600887',
 'SHSE.600893',
 'SZSE.002120',
 'SHSE.601398',
 'SZSE.002081',
 'SHSE.600958',
 'SZSE.002142',
 'SZSE.002146',
 'SZSE.002202',
 'SZSE.002153',
 'SHSE.600977',
 'SHSE.601600',
 'SHSE.601601',
 'SZSE.300498',
 'SHSE.600998',
 'SHSE.600999',
 'SZSE.002230',
 'SHSE.601555',
 'SHSE.601607',
 'SZSE.002179',
 'SZSE.002241',
 'SZSE.002236',
 'SHSE.601618',
 'SZSE.002252',
 'SHSE.601577',
 'SHSE.601628',
 'SZSE.002304',
 'SHSE.601633',
 'SZSE.002311',
 'SZSE.002271',
 'SZSE.002294',
 'SHSE.601668',
 'SHSE.601669',
 'SZSE.002352',
 'SHSE.601727',
 'SZSE.002410',
 'SZSE.002411',
 'SHSE.601688',
 'SZSE.002415',
 'SHSE.601800',
 'SZSE.002422',
 'SHSE.601808',
 'SHSE.601766',
 'SHSE.601818',
 'SHSE.601828',
 'SZSE.002460',
 'SZSE.002456',
 'SZSE.002508',
 'SHSE.601838',
 'SHSE.601788',
 'SZSE.002466',
 'SHSE.601901',
 'SZSE.002468',
 'SZSE.002475',
 'SHSE.601857',
 'SZSE.001979',
 'SZSE.002493',
 'SHSE.601919',
 'SZSE.002601',
 'SHSE.601881',
 'SZSE.002602',
 'SHSE.601877',
 'SHSE.601878',
 'SHSE.601933',
 'SZSE.002555',
 'SZSE.002607',
 'SZSE.002558',
 'SHSE.601888',
 'SHSE.601939',
 'SZSE.002624',
 'SHSE.601898',
 'SHSE.601899',
 'SZSE.002594',
 'SHSE.603019',
 'SHSE.601985',
 'SHSE.601992',
 'SZSE.002714',
 'SHSE.601988',
 'SHSE.601989',
 'SZSE.002673',
 'SHSE.601997',
 'SHSE.601998',
 'SZSE.002736',
 'SZSE.002739',
 'SZSE.002773',
 'SHSE.603160',
 'SHSE.603156',
 'SZSE.002841',
 'SZSE.002916',
 'SHSE.603260',
 'SHSE.603259',
 'SZSE.002938',
 'SZSE.002939',
 'SHSE.603288',
 'SZSE.000001',
 'SZSE.000002',
 'SZSE.000100',
 'SHSE.603501',
 'SZSE.000063',
 'SHSE.600000',
 'SZSE.000069',
 'SHSE.600004',
 'SHSE.600010',
 'SHSE.600011',
 'SHSE.600009',
 'SHSE.600015',
 'SHSE.600016',
 'SHSE.600023',
 'SHSE.600018',
 'SHSE.600019',
 'SHSE.600025',
 'SHSE.600030',
 'SHSE.600031',
 'SHSE.600027',
 'SHSE.600028',
 'SHSE.600029',
 'SZSE.000157',
 'SHSE.600036',
 'SHSE.600038',
 'SZSE.000166',
 'SHSE.600100',
 'SHSE.600050',
 'SHSE.600048',
 'SHSE.600104',
 'SHSE.600111',
 'SHSE.600061',
 'SHSE.600109',
 'SHSE.600115',
 'SHSE.600066',
 'SHSE.600118',
 'SHSE.600068',
 'SZSE.000006',
 'SZSE.000012',
 'SZSE.000008',
 'SZSE.000009',
 'SZSE.000021',
 'SZSE.000025',
 'SZSE.000031',
 'SZSE.000027',
 'SZSE.000028',
 'SZSE.000039',
 'SZSE.000050',
 'SZSE.000060',
 'SZSE.000061',
 'SZSE.000062',
 'SZSE.000066',
 'SHSE.600006',
 'SZSE.000078',
 'SHSE.600008',
 'SZSE.000090',
 'SHSE.600021',
 'SHSE.600022',
 'SHSE.600017',
 'SZSE.000089',
 'SHSE.600026',
 'SZSE.000156',
 'SHSE.600037',
 'SZSE.000158',
 'SHSE.600039',
 'SHSE.600053',
 'SHSE.600060',
 'SHSE.600056',
 'SHSE.600062',
 'SHSE.600058',
 'SHSE.600064',
 'SHSE.600120',
 'SHSE.600073',
 'SHSE.600125',
 'SZSE.000301',
 'SHSE.600126',
 'SHSE.600132',
 'SHSE.600079',
 'SHSE.600141',
 'SHSE.600138',
 'SHSE.600143',
 'SHSE.600094',
 'SHSE.600150',
 'SHSE.600201',
 'SHSE.600098',
 'SHSE.600155',
 'SHSE.600160',
 'SHSE.600161',
 'SHSE.600158',
 'SHSE.600171',
 'SHSE.600216',
 'SHSE.600166',
 'SHSE.600167',
 'SZSE.000400',
 'SZSE.000401',
 'SZSE.000402',
 'SHSE.600195',
 'SHSE.600260',
 'SZSE.000426',
 'SHSE.600256',
 'SHSE.600307',
 'SHSE.600312',
 'SHSE.600258',
 'SHSE.600259',
 'SHSE.600315',
 'SHSE.600316',
 'SHSE.600266',
 'SHSE.600317',
 'SHSE.600273',
 'SZSE.000501',
 'SHSE.600325',
 'SHSE.600282',
 'SHSE.600277',
 'SHSE.600329',
 'SHSE.600335',
 'SHSE.600291',
 'SZSE.000513',
 'SHSE.600338',
 'SHSE.600339',
 'SHSE.600350',
 'SHSE.600298',
 'SZSE.000519',
 'SHSE.600348',
 'SHSE.600410',
 'SZSE.000528',
 'SHSE.600409',
 'SHSE.600415',
 'SZSE.000536',
 'SZSE.000537',
 'SZSE.000488',
 'SZSE.000543',
 'SHSE.600373',
 'SHSE.600418',
 'SZSE.000600',
 'SHSE.600380',
 'SHSE.600426',
 'SHSE.600376',
 'SZSE.000547',
 'SZSE.000553',
 'SHSE.600428',
 'SHSE.600435',
 'SZSE.000563',
 'SHSE.600392',
 'SHSE.600388',
 'SZSE.000564',
 'SZSE.000559',
 'SZSE.300001',
 'SHSE.600500',
 'SZSE.300002',
 'SHSE.601000',
 'SHSE.601001',
 'SHSE.600446',
 'SZSE.000623',
 'SZSE.300010',
 'SHSE.601003',
 'SHSE.601005',
 'SZSE.300012',
 'SHSE.600460',
 'SZSE.000581',
 'SHSE.600511',
 'SZSE.300009',
 'SHSE.600507',
 'SZSE.300014',
 'SHSE.600515',
 'SZSE.000636',
 'SHSE.600521',
 'SHSE.600466',
 'SHSE.601016',
 'SHSE.601019',
 'SZSE.300026',
 'SZSE.300027',
 'SZSE.000598',
 'SHSE.600528',
 'SHSE.600478',
 'SHSE.600486',
 'SHSE.600536',
 'SZSE.000712',
 'SHSE.601100',
 'SHSE.600545',
 'SZSE.000717',
 'SHSE.600497',
 'SZSE.000718',
 'SHSE.600499',
 'SHSE.600549',
 'SZSE.000681',
 'SHSE.601106',
 'SZSE.300113',
 'SZSE.000732',
 'SZSE.300058',
 'SZSE.000727',
 'SHSE.600557',
 'SHSE.600563',
 'SZSE.300115',
 'SZSE.000729',
 'SZSE.000690',
 'SZSE.000685',
 'SZSE.000686',
 'SZSE.300072',
 'SHSE.600565',
 'SZSE.000738',
 'SHSE.600567',
 'SHSE.600572',
 'SHSE.601118',
 'SHSE.600623',
 'SHSE.601068',
 'SZSE.000750',
 'SHSE.600580',
 'SHSE.600575',
 'SZSE.300133',
 'SHSE.601127',
 'SHSE.600582',
 'SZSE.300134',
 'SHSE.600633',
 'SHSE.601128',
 'SHSE.600584',
 'SHSE.600640',
 'SZSE.000761',
 'SZSE.300088',
 'SZSE.000807',
 'SZSE.000758',
 'SZSE.000813',
 'SHSE.600642',
 'SHSE.600643',
 'SHSE.600639',
 'SHSE.601139',
 'SZSE.000766',
 'SHSE.600645',
 'SHSE.601200',
 'SHSE.600597',
 'SHSE.600598',
 'SHSE.600648',
 'SHSE.601098',
 'SHSE.601099',
 'SHSE.600704',
 'SHSE.600649',
 'SZSE.000825',
 'SZSE.000830',
 'SZSE.300207',
 'SZSE.000826',
 'SHSE.600707',
 'SHSE.600657',
 'SZSE.000778',
 'SZSE.300159',
 'SZSE.300166',
 'SHSE.600664',
 'SZSE.300168',
 'SHSE.600717',
 'SZSE.300180',
 'SHSE.601168',
 'SHSE.600718',
 'SHSE.600673',
 'SZSE.300182',
 'SHSE.601231',
 'SZSE.000848',
 'SHSE.601233',
 'SHSE.601228',
 'SHSE.600728',
 'SHSE.600729',
 'SHSE.601179',
 'SHSE.600737',
 'SZSE.300244',
 'SHSE.600694',
 'SZSE.300251',
 'SHSE.600739',
 'SZSE.300197',
 'SHSE.600745',
 'SHSE.600751',
 'SHSE.600801',
 'SZSE.300253',
 'SZSE.300199',
 'SZSE.000869',
 'SHSE.600748',
 'SHSE.600754',
 'SZSE.000930',
 'SHSE.600699',
 'SHSE.600804',
 'SHSE.600755',
 'SZSE.300257',
 'SZSE.000877',
 'SHSE.600811',
 'SZSE.300308',
 'SZSE.000932',
 'SZSE.000883',
 'SHSE.600757',
 'SZSE.000878',
 'SHSE.600763',
 'SZSE.300315',
 'SHSE.600808',
 'SZSE.300316',
 'SHSE.600759',
 'SHSE.600765',
 'SHSE.600770',
 'SHSE.600820',
 'SZSE.000937',
 'SZSE.000887',
 'SZSE.300324',
 'SZSE.300274',
 'SHSE.600823',
 'SHSE.601326',
 'SZSE.002002',
 'SHSE.600776',
 'SHSE.600827',
 'SHSE.600782',
 'SHSE.600777',
 'SHSE.601333',
 'SZSE.300285',
 'SZSE.002004',
 'SZSE.000960',
 'SHSE.600779',
 'SHSE.600835',
 'SZSE.002013',
 'SHSE.600787',
 'SZSE.000959',
 'SZSE.300296',
 'SHSE.600839',
 'SZSE.000970',
 'SZSE.300297',
 'SHSE.600845',
 'SHSE.600901',
 'SZSE.000967',
 'SHSE.600903',
 'SZSE.002019',
 'SZSE.000980',
 'SZSE.002030',
 'SZSE.000975',
 'SHSE.600862',
 'SZSE.002028',
 'SZSE.000983',
 'SHSE.600863',
 'SHSE.600908',
 'SHSE.600859',
 'SHSE.600909',
 'SZSE.000990',
 'SZSE.000987',
 'SZSE.300418',
 'SZSE.000988',
 'SHSE.600917',
 'SZSE.002038',
 'SZSE.300376',
 'SHSE.600874',
 'SHSE.600869',
 'SZSE.002051',
 'SHSE.600875',
 'SZSE.000997',
 'SZSE.300383',
 'SHSE.600881',
 'SZSE.002048',
 'SZSE.000998',
 'SZSE.002049',
 'SZSE.000999',
 'SHSE.600879',
 'SZSE.002110',
 'SHSE.600884',
 'SHSE.600885',
 'SZSE.002056',
 'SZSE.002064',
 'SHSE.600939',
 'SZSE.002065',
 'SHSE.600895',
 'SZSE.002118',
 'SZSE.002074',
 'SZSE.002075',
 'SZSE.002131',
 'SZSE.002127',
 'SZSE.002128',
 'SZSE.300459',
 'SZSE.002078',
 'SZSE.002129',
 'SHSE.600959',
 'SZSE.002085',
 'SHSE.600970',
 'SZSE.002092',
 'SZSE.002093',
 'SHSE.600967',
 'SZSE.002152',
 'SZSE.002203',
 'SZSE.300529',
 'SZSE.002155',
 'SHSE.600985',
 'SZSE.002212',
 'SZSE.002221',
 'SHSE.600996',
 'SZSE.002217',
 'SZSE.002223',
 'SZSE.002174',
 'SZSE.002180',
 'SZSE.002176',
 'SHSE.601611',
 'SZSE.002233',
 'SZSE.002183',
 'SHSE.601608',
 'SZSE.002191',
 'SZSE.002242',
 'SZSE.002244',
 'SZSE.002195',
 'SZSE.002250',
 'SZSE.002302',
 'SZSE.002249',
 'SZSE.002266',
 'SZSE.002317',
 'SZSE.002268',
 'SZSE.002273',
 'SZSE.002280',
 'SZSE.002281',
 'SZSE.002340',
 'SZSE.002285',
 'SHSE.601717',
 'SHSE.601718',
 'SZSE.002353',
 'SHSE.601678',
 'SZSE.002407',
 'SZSE.002358',
 'SZSE.002408',
 'SZSE.002414',
 'SHSE.601689',
 'SZSE.002371',
 'SZSE.002366',
 'SZSE.002416',
 'SZSE.002372',
 'SHSE.601801',
 'SZSE.002368',
 'SZSE.002423',
 'SZSE.002373',
 'SZSE.002419',
 'SZSE.002424',
 'SZSE.002375',
 'SHSE.601699',
 'SZSE.002426',
 'SZSE.002382',
 'SHSE.601811',
 'SZSE.002434',
 'SZSE.002384',
 'SZSE.002390',
 'SZSE.002385',
 'SZSE.002440',
 'SZSE.002437',
 'SZSE.002387',
 'SZSE.002439',
 'SZSE.002444',
 'SZSE.002500',
 'SZSE.002503',
 'SZSE.002399',
 'SZSE.002505',
 'SZSE.002507',
 'SZSE.002463',
 'SZSE.002465',
 'SZSE.002470',
 'SHSE.601799',
 'SZSE.002482',
 'SZSE.002491',
 'SHSE.601866',
 'SHSE.601872',
 'SZSE.002544',
 'SHSE.601869',
 'SHSE.601880',
 'SZSE.002603',
 'SHSE.601928',
 'SHSE.603000',
 'SZSE.002572',
 'SZSE.002573',
 'SZSE.002625',
 'SZSE.002583',
 'SHSE.601958',
 'SZSE.002635',
 'SZSE.002640',
 'SHSE.601966',
 'SZSE.002589',
 'SHSE.601969',
 'SHSE.603025',
 'SZSE.002701',
 'SZSE.002653',
 'SZSE.002709',
 'SZSE.002670',
 'SZSE.002665',
 'SZSE.002672',
 'SZSE.002681',
 'SHSE.603056',
 'SZSE.002690',
 'SZSE.002745',
 'SHSE.603077',
 'SZSE.002812',
 'SZSE.002807',
 'SZSE.002815',
 'SZSE.002821',
 'SZSE.002818',
 'SZSE.002831',
 'SZSE.002839',
 'SHSE.603225',
 'SZSE.002797',
 'SHSE.603233',
 'SHSE.603228',
 'SZSE.002920',
 'SZSE.002867',
 'SHSE.603198',
 'SZSE.002925',
 'SZSE.002926',
 'SZSE.002936',
 'SZSE.002941',
 'SHSE.603328',
 'SHSE.603338',
 'SHSE.603355',
 'SHSE.603377',
 'SHSE.603444',
 'SHSE.603515',
 'SHSE.603517',
 'SHSE.603486',
 'SHSE.603556',
 'SHSE.603568',
 'SHSE.603650',
 'SHSE.603712',
 'SHSE.603707',
 'SHSE.603659',
 'SHSE.603806',
 'SHSE.603816',
 'SHSE.603766',
 'SHSE.603858',
 'SHSE.603866',
 'SHSE.603868',
 'SHSE.603877',
 'SHSE.603882',
 'SHSE.603883',
 'SHSE.603885',
 'SHSE.603888',
 'SHSE.603939']

In [16]:
result_name = []
result_sheet = []

for i in range(0, len(stock1_index)):
    result_name.append(stock1_index[i])
    a = file1[stock1_index[i]].iloc[:,1:-1]
    b = file2[stock1_index[i]].iloc[:,1:]
    result_sheet.append( pd.concat([a, b]) )

In [17]:
print(len(result_name))
print(len(result_sheet))

779
779

In [18]:
result_sheet[1]

          date   open   high    low  close       volume
0   2014-01-02  10.66  10.78  10.60  10.73          NaN
1   2014-01-03  10.85  11.24  10.85  10.91          NaN
2   2014-01-06  10.90  10.90  10.50  10.58          NaN
3   2014-01-07  10.52  11.12  10.52  11.01          NaN
4   2014-01-08  11.01  11.06  10.65  10.98          NaN
..         ...    ...    ...    ...    ...          ...
297 2020-03-25   7.50   7.55   7.30   7.46   88909171.0
298 2020-03-26   7.35   7.39   7.16   7.18   72909078.0
299 2020-03-27   7.28   7.65   7.24   7.40  125591224.0
300 2020-03-30   7.22   7.73   7.10   7.55  125570327.0
301 2020-03-31   7.54   7.55   7.27   7.30   78738705.0

[1504 rows x 6 columns]

In [19]:
for w in range(0, len(result_sheet)):
    result_sheet[w].to_excel(result_name[w]+".xlsx", sheet_name = result_name[w], index=False)
    if(w%100==0):
        print(w)

0
100
200
300
400
500
600
700

In [20]:
import pandas as pd
import datetime

In [21]:
file2_name = "daily_trading_info_2019-2020.xlsx"
file2 = pd.read_excel(file2_name, sheet_name = None)
company_index = []
company_index = list(file2.keys())[:]

In [22]:
print(len(company_index))

800

In [23]:
from talib import abstract

In [24]:
pd.read_excel(company_index[0]+".xlsx")

           date       open       high        low      close   volume
0    2014-01-02  21.309999  21.700001  21.230000  21.459999  5096443
1    2014-01-03  21.400000  21.450001  20.370001  20.790001  9945683
2    2014-01-06  20.680000  20.680000  20.219999  20.240000  5171376
3    2014-01-07  20.100000  20.250000  19.860001  20.000000  5364241
4    2014-01-08  20.000000  20.389999  20.000000  20.230000  5186841
...         ...        ...        ...        ...        ...      ...
1517 2020-03-25  24.600000  24.850000  24.500000  24.799999  7072723
1518 2020-03-26  24.620001  25.290001  24.580000  25.129999  8346083
1519 2020-03-27  25.320000  25.799999  25.150000  25.180000  8794212
1520 2020-03-30  25.150000  25.570000  24.950001  25.450001  8179292
1521 2020-03-31  25.500000  25.540001  25.150000  25.350000  5331630

[1522 rows x 6 columns]

In [25]:
df = pd.read_excel(company_index[0]+".xlsx")

In [26]:
inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"]
}
# uses close prices (default)
out1 = abstract.SMA(inputs, timeperiod=5)
out2 = abstract.SMA(inputs, timeperiod=10)
out3 = abstract.SMA(inputs, timeperiod=15)
out4upperband, out4middleband, out4lowerband = abstract.BBANDS(inputs, timeperiod=5, nbdevup=2, nbdevdn=2, matype=0)
out5 = abstract.DEMA(inputs, timeperiod=6)
out6slowk, out6slowd = abstract.STOCH(inputs, fastk_period=5, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
out7 = abstract.ADX(inputs, timeperiod=7)
out8macd, out8macdsignal, out8macdhist = abstract.MACD(inputs, fastperiod=6, slowperiod=12, signalperiod=9)

In [27]:
pd.concat([df, pd.DataFrame(out1, columns=["ma5"])\
          , pd.DataFrame(out2, columns=["ma10"])\
          , pd.DataFrame(out3, columns=["ma15"])\
          ,pd.DataFrame(out4upperband, columns=["upperband"])\
          ,pd.DataFrame(out4middleband, columns=["middleband"])\
          ,pd.DataFrame(out4lowerband, columns=["lowerband"])\
          ,pd.DataFrame(out5, columns=["DEMA"])\
          ,pd.DataFrame(out6slowk, columns=["slowk"])\
          ,pd.DataFrame(out6slowd, columns=["slowd"])\
          ,pd.DataFrame(out7, columns=["ADX"])\
          ,pd.DataFrame(out8macd, columns=["macd"])\
          ,pd.DataFrame(out8macdsignal, columns=["macdsignal"])\
          ,pd.DataFrame(out8macdhist, columns=["8macdhist"])], axis=1).head(50)

,date,open,high,low,close,volume,ma5,ma10,ma15,upperband,middleband,lowerband,DEMA,slowk,slowd,ADX,macd,macdsignal,8macdhist
0,2014-01-02,21.309999,21.700001,21.230000,21.459999,5096443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-03,21.400000,21.450001,20.370001,20.790001,9945683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-06,20.680000,20.680000,20.219999,20.240000,5171376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-07,20.100000,20.250000,19.860001,20.000000,5364241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-08,20.000000,20.389999,20.000000,20.230000,5186841,20.544,NaN,NaN,21.597193,20.544,19.490807,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014-01-09,20.200001,20.290001,19.969999,20.020000,3824827,20.256,NaN,NaN,20.826839,20.256,19.685162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-01-10,19.900000,20.010000,18.959999,19.240000,9143400,19.946,NaN,NaN,20.680259,19.946,19.211741,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-01-13,19.299999,19.299999,19.010000,19.219999,4283805,19.742,NaN,NaN,20.593578,19.742,18.890422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-01-14,19.219999,19.559999,19.120001,19.490000,3426150,19.640,NaN,NaN,20.465300,19.640,18.814700,NaN,23.841302,18.055370,NaN,NaN,NaN,NaN
9,2014-01-15,19.490000,20.000000,19.490000,19.830000,4878185,19.560,20.052,NaN,20.197119,19.560,18.922881,NaN,40.219438,26.300670,NaN,NaN,NaN,NaN
10,2014-01-16,19.840000,20.100000,19.760000,19.910000,2931624,19.538,19.897,NaN,20.114805,19.538,18.961194,19.665287,61.936596,41.999112,NaN,NaN,NaN,NaN
11,2014-01-17,20.010000,20.010000,19.600000,19.730000,2813683,19.636,19.791,NaN,20.138729,19.636,19.133271,19.666956,71.600595,57.918877,NaN,NaN,NaN,NaN
12,2014-01-20,19.600000,19.709999,19.250000,19.430000,4621019,19.678,19.710,NaN,20.053744,19.678,19.302256,19.526016,60.340297,64.625830,NaN,NaN,NaN,NaN
13,2014-01-21,19.490000,20.070000,19.430000,19.980000,2911691,19.776,19.708,NaN,20.159999,19.776,19.392000,19.715657,61.189949,64.376947,44.888648,NaN,NaN,NaN
14,2014-01-22,19.980000,20.110001,19.750000,20.100000,4602530,19.830,19.695,19.978000,20.296304,19.830,19.363695,19.892768,72.117352,64.549200,40.922983,NaN,NaN,NaN
15,2014-01-23,20.100000,20.150000,19.879999,19.920000,3955330,19.832,19.685,19.875333,20.299743,19.832,19.364257,19.911884,86.387976,73.231759,37.103301,NaN,NaN,NaN
16,2014-01-24,19.950001,20.070000,19.410000,19.540001,8548517,19.794,19.715,19.792000,20.316394,19.794,19.271606,19.736177,68.501335,75.668888,36.970715,NaN,NaN,NaN
17,2014-01-27,19.469999,19.469999,19.030001,19.070000,7097953,19.722,19.700,19.714000,20.474000,19.722,18.970000,19.400312,36.746055,63.878456,38.631938,NaN,NaN,NaN
18,2014-01-28,19.059999,19.450001,19.030001,19.129999,5427807,19.552,19.664,19.656000,20.374815,19.552,18.729185,19.231375,14.907375,40.051588,40.055843,NaN,NaN,NaN
19,2014-01-29,19.180000,19.270000,18.879999,18.980000,6456224,19.328,19.579,19.572667,20.033567,19.328,18.622433,19.063439,6.791277,19.481569,41.971601,-0.258441,-0.251725,-0.006717
20,2014-01-30,19.000000,19.040001,18.379999,18.580000,6490546,19.060,19.446,19.476667,19.674622,19.060,18.445377,18.775027,9.545616,10.414756,45.402714,-0.313833,-0.264147,-0.049687
21,2014-02-07,18.549999,18.980000,18.520000,18.700001,8121576,18.892,19.343,19.440667,19.321212,18.892,18.462787,18.670733,16.355448,10.897447,48.343667,-0.317693,-0.274856,-0.042837
22,2014-02-10,18.770000,19.280001,18.730000,19.100000,12382450,18.898,19.310,19.432667,19.337708,18.898,18.458291,18.815830,36.160678,20.687247,46.591869,-0.253314,-0.270547,0.017233
23,2014-02-11,19.170000,20.150000,19.100000,19.889999,17814676,19.050,19.301,19.459333,19.969303,19.050,18.130697,19.299995,60.652800,37.722975,42.144068,-0.099093,-0.236257,0.137163
24,2014-02-12,19.920000,20.030001,19.680000,19.910000,6691717,19.236,19.282,19.464667,20.373759,19.236,18.098242,19.604977,79.680384,58.831287,38.331668,0.001110,-0.188783,0.189893
25,2014-02-13,19.889999,19.889999,19.500000,19.610001,6408027,19.442,19.251,19.444667,20.386660,19.442,18.497340,19.638542,79.540876,73.291353,33.474281,0.022064,-0.146614,0.168678
26,2014-02-14,19.540001,19.820000,19.540001,19.690001,5257374,19.640,19.266,19.442000,20.226787,19.640,19.053213,19.692521,73.639201,77.620154,29.310807,0.044307,-0.108430,0.152737
27,2014-02-17,19.820000,19.889999,19.580000,19.719999,6782577,19.764,19.331,19.461333,19.997785,19.764,19.530214,19.734548,64.508157,72.562745,26.405483,0.059760,-0.074792,0.134552
28,2014-02-18,19.730000,19.730000,19.180000,19.240000,12105300,19.634,19.342,19.412000,20.074472,19.634,19.193528,19.519701,44.570673,60.906010,25.157247,0.003176,-0.059198,0.062374
29,2014-02-19,19.230000,19.290001,18.969999,19.129999,10187290,19.478,19.357,19.347333,19.966819,19.478,18.989180,19.333375,27.832535,45.637121,25.619177,-0.045669,-0.056492,0.010824
30,2014-02-20,19.250000,19.780001,19.209999,19.350000,12876519,19.426,19.434,19.309333,19.902756,19.426,18.949244,19.329464,21.918168,31.440458,22.704220,-0.044171,-0.054028,0.009857
31,2014-02-21,19.330000,19.459999,19.000000,19.100000,8159687,19.308,19.474,19.280000,19.756178,19.308,18.859822,19.206696,24.275432,24.675378,20.455261,-0.074292,-0.058081,-0.016211
32,2014-02-24,19.000000,19.010000,18.580000,18.930000,7533995,19.150,19.457,19.270667,19.431993,19.150,18.868007,19.052084,28.200563,24.798055,21.353496,-0.111649,-0.068795,-0.042854
33,2014-02-25,18.930000,19.200001,18.160000,18.490000,11637149,19.000,19.317,19.228000,19.575778,19.000,18.424222,18.747724,21.222528,24.566175,24.203398,-0.187341,-0.092504,-0.094837
34,2014-02-26,18.400000,18.700001,18.190001,18.610001,5818194,18.896,19.187,19.203333,19.525616,18.896,18.266384,18.630176,25.771615,25.064902,26.646172,-0.209031,-0.115809,-0.093221
35,2014-02-27,18.610001,18.629999,18.010000,18.290001,7333119,18.684,19.055,19.184000,19.271823,18.684,18.096177,18.411820,22.486191,23.160111,29.611152,-0.255149,-0.143677,-0.111472
36,2014-02-28,18.200001,18.500000,17.680000,18.430000,7325072,18.550,18.929,19.166000,18.982296,18.550,18.117704,18.359041,32.143436,26.800414,33.518735,-0.253346,-0.165611,-0.087735
37,2014-03-03,18.330000,18.719999,18.049999,18.480000,7406000,18.460,18.805,19.124667,18.667075,18.460,18.252926,18.362395,40.428004,31.685877,34.090035,-0.234527,-0.179394,-0.055133
38,2014-03-04,18.480000,18.480000,18.200001,18.280001,4610558,18.418,18.709,19.017333,18.665030,18.418,18.170970,18.275748,53.222001,41.931147,34.579721,-0.239217,-0.191359,-0.047859
39,2014-03-05,18.350000,18.389999,17.959999,18.170000,5729945,18.330,18.613,18.901333,18.553069,18.330,18.106931,18.178010,52.479773,48.709926,36.386353,-0.246043,-0.202296,-0.043747
40,2014-03-06,18.110001,18.320000,17.750000,18.230000,5471302,18.318,18.501,18.809333,18.554440,18.318,18.081560,18.156877,52.564133,52.755302,38.966992,-0.231441,-0.208125,-0.023316
41,2014-03-07,18.170000,18.719999,18.000000,18.559999,10361075,18.344,18.447,18.734000,18.644026,18.344,18.043974,18.313697,61.168386,55.404098,36.032259,-0.168926,-0.200285,0.031359
42,2014-03-10,18.350000,18.440001,17.900000,18.139999,7486115,18.276,18.368,18.628667,18.576026,18.276,17.975973,18.208099,58.865301,57.532607,34.259120,-0.179101,-0.196048,0.016947
43,2014-03-11,18.059999,18.290001,18.000000,18.270000,5597031,18.274,18.346,18.564000,18.574026,18.274,17.973973,18.212337,59.106547,59.713411,32.739286,-0.160236,-0.188886,0.028650
44,2014-03-12,18.280001,18.299999,17.900000,18.240000,4163272,18.288,18.309,18.504667,18.573489,18.288,18.002511,18.204513,48.109987,55.360612,32.307141,-0.145746,-0.180258,0.034511
45,2014-03-13,18.200001,18.370001,17.990000,18.250000,4867485,18.292,18.305,18.431333,18.574673,18.292,18.009327,18.208315,48.935599,52.050711,30.803152,-0.129264,-0.170059,0.040795
46,2014-03-14,18.180000,18.230000,17.969999,18.160000,4872640,18.212,18.278,18.368667,18.315846,18.212,18.108153,18.169577,47.115525,48.053704,29.737324,-0.125488,-0.161145,0.035657
47,2014-03-17,18.170000,18.190001,17.990000,18.160000,5344298,18.216,18.246,18.317333,18.309467,18.216,18.122533,18.149030,48.716717,48.255947,28.823756,-0.117690,-0.152454,0.034764
48,2014-03-18,18.150000,18.500000,18.080000,18.360001,8774661,18.234,18.254,18.308667,18.381296,18.234,18.086704,18.237403,60.044649,51.958964,26.596971,-0.081430,-0.138249,0.056819
49,2014-03-19,18.320000,18.320000,17.969999,18.080000,5262316,18.202,18.245,18.273333,18.393165,18.202,18.010835,18.155355,50.913547,53.224971,22.919444,-0.092859,-0.129171,0.036312

In [28]:
for w in range(0, len(company_index)):
    df = pd.read_excel(company_index[w]+".xlsx")
    inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"]
    }
    # uses close prices (default)
    out1 = abstract.SMA(inputs, timeperiod=5)
    out2 = abstract.SMA(inputs, timeperiod=10)
    out3 = abstract.SMA(inputs, timeperiod=15)
    out4upperband, out4middleband, out4lowerband = abstract.BBANDS(inputs, timeperiod=5, nbdevup=2, nbdevdn=2, matype=0)
    out5 = abstract.DEMA(inputs, timeperiod=6)
    out6slowk, out6slowd = abstract.STOCH(inputs, fastk_period=5, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
    out7 = abstract.ADX(inputs, timeperiod=7)
    out8macd, out8macdsignal, out8macdhist = abstract.MACD(inputs, fastperiod=6, slowperiod=12, signalperiod=9)
    a =  pd.DataFrame(out1, columns=["ma5"])
    b = pd.DataFrame(out2, columns=["ma10"])
    c = pd.DataFrame(out3, columns=["ma15"])
    d = pd.DataFrame(out4upperband, columns=["upperband"])
    e = pd.DataFrame(out4middleband, columns=["middleband"])
    f = pd.DataFrame(out4lowerband, columns=["lowerband"])
    g = pd.DataFrame(out5, columns=["DEMA"])
    h = pd.DataFrame(out6slowk, columns=["slowk"])
    i = pd.DataFrame(out6slowd, columns=["slowd"])
    j = pd.DataFrame(out7, columns=["ADX"])
    k = pd.DataFrame(out8macd, columns=["macd"])
    l = pd.DataFrame(out8macdsignal, columns=["macdsignal"])
    m = pd.DataFrame(out8macdhist, columns=["8macdhist"])
    pd.concat([df, a , b, c, d, e, f, g, h, i, j, k, l, m], axis=1).to_excel(company_index[w]+".xlsx", \
                                              sheet_name = company_index[w], index=False)
    if(w%100==0):
        print(w)

0
100
200
300
400
500
600
700

In [29]:
train_set = pd.read_excel("strategy_results_train.xlsx")

In [30]:
import copy

In [31]:
dataset = copy.deepcopy(train_set)

In [32]:
temp = []
for i in range(0, dataset.shape[0]):
# for i in range(0, 10):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = dataset.iloc[i][0].split("_")[0]
    trade_date    = dataset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    temp.append(list(df.iloc[lower_index, :]))

0 2020-06-15 19:44:22.593322
1000 2020-06-15 19:55:09.735449
2000 2020-06-15 20:02:29.967698
3000 2020-06-15 20:09:57.615679
4000 2020-06-15 20:17:30.990090
5000 2020-06-15 20:24:41.455905
6000 2020-06-15 20:32:16.632143
7000 2020-06-15 20:39:24.680858
8000 2020-06-15 20:46:55.464066
9000 2020-06-15 20:54:24.317658
10000 2020-06-15 21:01:28.005614
11000 2020-06-15 21:08:24.761769
12000 2020-06-15 21:16:14.801437
13000 2020-06-15 21:23:53.452948
14000 2020-06-15 21:31:28.344308
15000 2020-06-15 21:39:03.193906
16000 2020-06-15 21:46:35.007375
17000 2020-06-15 21:54:54.823233
18000 2020-06-15 22:02:15.696294
19000 2020-06-15 22:09:54.704271
20000 2020-06-15 22:17:14.357543
21000 2020-06-15 22:24:49.506724
22000 2020-06-15 22:32:07.142094
23000 2020-06-15 22:39:36.505408
24000 2020-06-15 22:47:03.815859
25000 2020-06-15 22:54:13.452338
26000 2020-06-15 23:01:36.919089
27000 2020-06-15 23:08:32.196448
28000 2020-06-15 23:16:17.176786
29000 2020-06-15 23:23:34.077614
30000 2020-06-15 23:31:16.600356
31000 2020-06-15 23:39:31.153792

In [33]:
temp[1]

[Timestamp('2015-01-30 00:00:00'),
 22.98999977111816,
 23.19000053405762,
 22.51000022888184,
 22.57999992370605,
 7880595,
 23.32000007629394,
 23.38600006103515,
 23.59000002543132,
 24.46563604006088,
 23.32000007629394,
 22.17436411252701,
 22.86668515185766,
 4.780284417028589,
 23.95693785180033,
 19.62401437964572,
 -0.1509113293830318,
 0.0829464537574621,
 -0.2338577831404939]

In [34]:
pd.DataFrame(temp).to_excel("train_output.xlsx", index=False)

In [35]:
testset = pd.read_excel("sampleSubmission.xlsx")

In [36]:
testset.head()

                   id  label
0  SHSE.600085_201901      0
1  SHSE.600085_201902      0
2  SHSE.600085_201903      0
3  SHSE.600085_201904      0
4  SHSE.600085_201905      0

In [37]:
temp = []
for i in range(0, testset.shape[0]):
# for i in range(0, 10):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = testset.iloc[i][0].split("_")[0]
    trade_date    = testset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    if(lower_index==0):
        temp.append(dash = ["-","","","","","","","",""])
    else:
        temp.append(list(df.iloc[lower_index, :]))

0 2020-06-15 23:50:24.160594
1000 2020-06-16 00:00:28.273918
2000 2020-06-16 00:11:25.232848
3000 2020-06-16 00:21:09.095029
4000 2020-06-16 19:23:36.690200
5000 2020-06-16 19:32:46.264166
6000 2020-06-16 19:41:57.758119
7000 2020-06-16 19:50:05.832756
8000 2020-06-16 19:58:26.371188
9000 2020-06-16 20:06:34.663700
10000 2020-06-16 20:14:19.585978
11000 2020-06-16 20:20:42.873123

In [38]:
pd.DataFrame(temp).to_excel("test_output.xlsx", index=False)

In [39]:
import pandas as pd

In [40]:
data = pd.read_excel("strategy_results_train.xlsx")

In [41]:
data.head()

,id,label,date,open,high,low,close,volume,ma5,ma10,...,upperband,middleband,lowerband,DEMA,slowk,slowd,ADX,macd,macdsignal,8macdhist
0,SHSE.600085_201501,0,2014-12-30,20.900000,22.090000,20.799999,22.049999,25457468.0,21.291999,21.369,...,22.091639,21.291999,20.492360,21.470082,60.969460,51.131750,32.298942,0.013546,0.023815,-0.010269
1,SHSE.600085_201502,1,2015-01-30,22.990000,23.190001,22.510000,22.580000,7880595.0,23.320000,23.386,...,24.465636,23.320000,22.174364,22.866685,4.780284,23.956938,19.624014,-0.150911,0.082946,-0.233858
2,SHSE.600085_201503,1,2015-02-27,22.520000,22.670000,22.400000,22.540001,9263796.0,22.442000,22.106,...,22.733589,22.442000,22.150410,22.507301,74.944776,78.403583,35.901882,0.028882,-0.117967,0.146849
3,SHSE.600085_201504,1,2015-03-30,26.219999,26.440001,25.820000,26.230000,16125626.0,26.378000,25.148,...,26.997341,26.378000,25.758658,26.548768,72.816074,80.294550,60.397062,0.757683,0.612410,0.145273
4,SHSE.600085_201505,1,2015-04-29,32.580002,33.639999,32.279999,33.180000,13959795.0,32.888000,32.902,...,33.728420,32.888000,32.047581,33.249689,45.784935,41.249892,43.171841,0.620407,0.905953,-0.285546

In [42]:
data2 = pd.concat( [data.iloc[:, 1], data.iloc[:, 8:]], axis=1)

In [43]:
data2.head()

,label,ma5,ma10,ma15,upperband,middleband,lowerband,DEMA,slowk,slowd,ADX,macd,macdsignal,8macdhist
0,0,21.291999,21.369,21.636000,22.091639,21.291999,20.492360,21.470082,60.969460,51.131750,32.298942,0.013546,0.023815,-0.010269
1,1,23.320000,23.386,23.590000,24.465636,23.320000,22.174364,22.866685,4.780284,23.956938,19.624014,-0.150911,0.082946,-0.233858
2,1,22.442000,22.106,22.165333,22.733589,22.442000,22.150410,22.507301,74.944776,78.403583,35.901882,0.028882,-0.117967,0.146849
3,1,26.378000,25.148,24.380667,26.997341,26.378000,25.758658,26.548768,72.816074,80.294550,60.397062,0.757683,0.612410,0.145273
4,1,32.888000,32.902,32.436000,33.728420,32.888000,32.047581,33.249689,45.784935,41.249892,43.171841,0.620407,0.905953,-0.285546

In [44]:
data2.isnull().any()

label         False
ma5            True
ma10           True
ma15           True
upperband      True
middleband     True
lowerband      True
DEMA           True
slowk          True
slowd          True
ADX            True
macd           True
macdsignal     True
8macdhist      True
dtype: bool

In [45]:
data2 = data2.dropna(axis = 0)
data2.isnull().any()

label         False
ma5           False
ma10          False
ma15          False
upperband     False
middleband    False
lowerband     False
DEMA          False
slowk         False
slowd         False
ADX           False
macd          False
macdsignal    False
8macdhist     False
dtype: bool

In [46]:
y = data2["label"]
y

0        0
1        1
2        1
3        1
4        1
        ..
31942    1
31943    0
31944    0
31945    0
31946    0
Name: label, Length: 31858, dtype: int64

In [47]:
X = data2.iloc[:, 1:]

In [48]:
X

,ma5,ma10,ma15,upperband,middleband,lowerband,DEMA,slowk,slowd,ADX,macd,macdsignal,8macdhist
0,21.291999,21.369000,21.636000,22.091639,21.291999,20.492360,21.470082,60.969460,51.131750,32.298942,0.013546,0.023815,-0.010269
1,23.320000,23.386000,23.590000,24.465636,23.320000,22.174364,22.866685,4.780284,23.956938,19.624014,-0.150911,0.082946,-0.233858
2,22.442000,22.106000,22.165333,22.733589,22.442000,22.150410,22.507301,74.944776,78.403583,35.901882,0.028882,-0.117967,0.146849
3,26.378000,25.148000,24.380667,26.997341,26.378000,25.758658,26.548768,72.816074,80.294550,60.397062,0.757683,0.612410,0.145273
4,32.888000,32.902000,32.436000,33.728420,32.888000,32.047581,33.249689,45.784935,41.249892,43.171841,0.620407,0.905953,-0.285546
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31942,58.442000,60.356001,60.682667,60.133125,58.442000,56.750875,57.541951,29.534371,31.739875,28.824795,-0.743843,0.042445,-0.786288
31943,56.290000,55.929000,56.114000,59.410078,56.290000,53.169922,55.369944,25.409281,50.058392,17.435497,-0.149421,0.086631,-0.236053
31944,55.034000,53.455999,52.943999,58.002599,55.034000,52.065401,56.474034,84.815580,80.881315,28.581986,1.041763,0.262068,0.779695
31945,45.882000,47.193000,49.858000,47.450407,45.882000,44.313593,45.077673,35.182641,30.178113,37.405657,-1.543267,-1.286919,-0.256347
31946,49.150001,50.371001,51.181334,51.439734,49.150001,46.860268,48.126858,17.309265,26.266470,34.792915,-0.818596,-0.226488,-0.592108

In [49]:
X = X.dropna(axis = 0)

In [50]:
X.isnull().any()

ma5           False
ma10          False
ma15          False
upperband     False
middleband    False
lowerband     False
DEMA          False
slowk         False
slowd         False
ADX           False
macd          False
macdsignal    False
8macdhist     False
dtype: bool

In [51]:
X.shape

(31858, 13)

In [52]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [57]:
testdata = pd.read_excel("sampleSubmission.xlsx")

In [58]:
testdata = testdata.fillna(0)
testdata.isnull().any()

id            False
label         False
ma5           False
ma10          False
ma15          False
upperband     False
middleband    False
lowerband     False
DEMA          False
slowk         False
slowd         False
ADX           False
macd          False
macdsignal    False
8macdhist     False
dtype: bool

In [59]:
testdata.iloc[:, 2:]

,ma5,ma10,ma15,upperband,middleband,lowerband,DEMA,slowk,slowd,ADX,macd,macdsignal,8macdhist
0,27.258000,27.573000,28.198000,27.582074,27.258000,26.933926,27.160600,81.916601,62.960458,41.780453,-0.378771,-0.407823,0.029052
1,26.624000,26.698000,26.724667,26.813146,26.624000,26.434854,26.546511,20.106520,24.279438,18.060595,-0.080615,-0.079173,-0.001442
2,28.890000,28.863000,28.408667,30.116441,28.890000,27.663558,29.267527,67.170482,57.307365,44.382185,0.354046,0.339898,0.014148
3,29.532000,30.037000,30.157333,30.050521,29.532000,29.013479,29.554422,40.705825,23.440401,25.625744,-0.141336,-0.016231,-0.125105
4,31.514000,32.125000,32.192000,32.667679,31.514000,30.360321,31.101743,13.716365,12.227212,34.070802,-0.207927,0.116351,-0.324278
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11358,86.210001,86.955000,86.357333,88.993324,86.210001,83.426677,85.586424,44.981611,42.218492,31.579202,0.216271,0.992535,-0.776265
11359,77.136000,80.214001,82.662001,79.284844,77.136000,74.987156,75.842190,13.648123,14.632642,54.604907,-2.285976,-1.608053,-0.677922
11360,70.966000,71.855001,72.971334,72.778118,70.966000,69.153882,71.075565,48.207106,30.501692,39.045596,-0.840357,-1.107755,0.267398
11361,82.976001,79.619000,77.530667,88.903545,82.976001,77.048457,84.841770,83.415799,89.757279,52.629199,2.511474,1.695119,0.816356
11362,81.462000,82.899000,84.118667,82.953492,81.462000,79.970507,81.433219,49.399452,35.006117,26.071845,-0.647059,-0.231054,-0.416005

In [60]:
result = clf.predict(testdata.iloc[:, 2:])

In [61]:
pd.DataFrame(result).to_excel("prediction.xlsx", index=False)